  <form id="search" action="/" method="post" >
    <input type="text" name="song" value="<%= @song ? @song.title : "think that im kobe" %>"/>
    <input value="Search" type="submit"/>
  </form>
  <% if @song %>
    <div class="lyrics">
      <% @song.lines.count.times do |i| %>
        <p><%= @song.lines[i].lyric %></p>
      <% end %>
    </div>
  <% else %>
    <div class="no-lyrics">
      <h1>Search your favorite lyrics above.</h1>
    </div>

  <% end %>
  <% if @song && @song.media.first %>
      <% if @song.media.first.provider == "youtube" %>

        <%= VideoInfo.new(@song.media.first.url).embed_code(
          url_attributes: { 
            autoplay: 1,
            controls: 0
          },
          iframe_attributes: { width: "100%", height: "100%" }) %>

      <% else %>
        <%= SoundCloudEmbed.embed(@song.media.first.url) %>
      <% end %>
    <% end %>

